## SemEval-2018- Irony Preprocessing

In [51]:
import io
import pandas as pd
import re
import pickle

In [50]:
from keras.preprocessing.text import Tokenizer

Using TensorFlow backend.

In [57]:
tokenizer = Tokenizer(num_words=20000,lower=False, filters='!"$%&()*+,-.;<=>?[\\]^_`{|}~\t\n')

In [1]:
aTask = "./../../SemEval2018-Task3/datasets/train/SemEval2018-T4-train-taskA.txt"
aTaskEmoji = "./../../SemEval2018-Task3/datasets/train/SemEval2018-T4-train-taskA_emoji.txt"
bTask = "./../../SemEval2018-Task3/datasets/train/SemEval2018-T4-train-taskB.txt"
bTaskEmoji = "./../../SemEval2018-Task3/datasets/train/SemEval2018-T4-train-taskB_emoji.txt"

In [165]:
def normalizeText(tweet):
    tweet = re.sub(r'#(S|s)arcasm|#(I|i)rony','',tweet)
    tweet = re.sub(r'#SARCASM|#IRONY','',tweet)
    tweet = re.sub(r'https?://t\.co/.(\w|\d)+','http://link', tweet) #tweet link
    tweet = re.sub(r'@.\w*','@',tweet)
    tweet = re.sub(r'#','',tweet)
    return tweet

def buildTokenizer(tweets):
    tokenizer.fit_on_texts(tweets)
    return tokenizer

def text2seq(tweet):
    return tokenizer.texts_to_sequences([tweet])[0] # Return array like [1 2 3] instead of [[1 2 3]]

In [166]:
data = pd.read_csv(aTask,sep='\t',index_col='Tweet index')

In [167]:
data.head()

             Label                                         Tweet text
Tweet index
1                1  Sweet United Nations video. Just in time for C...
2                1  @mrdahl87 We are rumored to have talked to Erv...
3                1  Hey there! Nice to see you Minnesota/ND Winter...
4                0                3 episodes left I'm dying over here
5                1  I can't breathe! was chosen as the most notabl...

In [168]:
data['Tweet text'] = data['Tweet text'].apply(normalizeText)

In [169]:
data.head()

             Label                                         Tweet text
Tweet index
1                1  Sweet United Nations video. Just in time for C...
2                1  @ We are rumored to have talked to Erv's agent...
3                1  Hey there! Nice to see you Minnesota/ND Winter...
4                0                3 episodes left I'm dying over here
5                1  I can't breathe! was chosen as the most notabl...

In [170]:
tokenizer = buildTokenizer(data['Tweet text'])
data['Tweet text'] = data['Tweet text'].apply(text2seq)

In [171]:
data.head()

             Label                                         Tweet text
Tweet index
1                1  [2364, 1312, 3960, 478, 114, 10, 66, 12, 61, 9...
2                1  [1, 197, 25, 3962, 3, 22, 1697, 3, 3963, 2365,...
3                1        [552, 92, 599, 3, 71, 11, 3966, 1698, 1699]
4                0                 [129, 3967, 435, 28, 816, 96, 130]
5                1  [5, 91, 1700, 31, 2367, 50, 2, 140, 2368, 2369...

In [177]:
type(tokenizer.word_counts)

collections.OrderedDict